@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Raleway&display=swap');

body {
    background-color: #f0f0f0;
    font-size: 16px;
    color: #000000;
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    margin: auto;
    text-align: center;
}

table.lessons {
    width: 100%;
    text-align: center;
    margin: auto;
}

td {
    padding-bottom: 10px;
}

th {
    border-bottom: 1px solid black;
 }

.avatar {
    width: 200px;
    border-radius: 15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);

}

.header {
    display: flex;
    margin-bottom: 20px;
}

.info {
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    float: left;

}

.info p {

    margin: 0;
    text-decoration: none;
}

.container {
    max-width: 750px;
    margin: auto;
}

.bg-pink {
    background: #FFC0CB;
}

.bg-brown {
    background: #deb887;
}

.bg-blue {
    background: #A6B1E1;
}

.bg-coral {
    background: #ff7f50;
}


.card {
border: 1px solid black;
margin-bottom: 10px;
}

.align {
    margin: auto;
    width: 55%;
    padding: 10px;
}